{% extends "layout.html" %}
{% block content %}


<html>


<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/i18n/defaults-*.min.js"></script>

<br>
<body>
<form method="POST" action="/record_match">
  <!-- {% for field in form %}
   {% if field.name is not equalto 'csrf_token' %}
    {{field.label}}
     {{field(size=20)}}
   {% endif %}
  <br>
  {% endfor %} -->
  <div class="col-xs-2">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="form-group">
        <label for="PlayerA">Player 1</label>
          <select id='player_a' class="form-control" name="player_a">
          {% for choice in form.player_a.choices %}
            <option value='{{choice [0]}}'>{{ choice[1] }}</option>
          {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="PlayerAScore">Score</label>
        <input type="text" name="score_a" class="form-control" id="score_a"><br>
          {% for error in form.score_a.errors %}
          <div class="alert alert-danger" role="alert">
            <strong>Oh shit!</strong> {{error}}
          </div>
            {% endfor %}<br>
      </div>
      <div class="form-group">
        <label for="PlayerB">Player 2</label>
          <select id='player_b' class="form-control" name="player_b">
          {% for choice in form.player_b.choices %}
            <option value='{{choice [0]}}'>{{ choice[1] }}</option>
          {% endfor %}
          </select>
        <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
      <div class="form-group">
        <label for="PlayerBScore">Score</label>
        <input type="text" name="score_b" class="form-control" id="score_b"><br>
          {% for error in form.score_b.errors %}
          <div class="alert alert-danger" role="alert">
            <strong>Oh shit!</strong> {{error}}
          </div>
            {% endfor %}<br>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Submit Match"></input>
      </div>
    </div>

    <!-- <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div> -->

</form>
</body>
<script type="text/javascript">

$(document).ready( function () {
  $('.selectpicker').selectpicker({
    style: 'btn-info',
    size: 4
  });
});

</script>
</html>

{% endblock %}
