{% extends "layout.html" %}
{% block content %}
<html>
<head>


</head>

<link  rel="stylesheet" type="text/css" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link  rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link  rel="stylesheet" type="text/css" href = "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">

<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" language = "javascript" src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language = "javascript" src = "//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" language = "javascript" src = "//code.highcharts.com/highcharts.js"></script>






<br>
<body>
<div class="span7 text-center">
    <form action="/recalculate" method="post">
      <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-random" aria-hidden="true">
        </span>
          Refresh Ratings
        </buttton>
    </form>
  </div>



<div>
  <table class = 'table table-striped table-bordered' width="90%" id='fine' align='center'>

  			<thead>
  				<tr>
            <th> First </th>
            <th> Last </th>
  					<th> Rating (&mu;) </th>
  					<th> &sigma; </th>
  					<th> TrueSkill (&mu;-3&sigma;)</th>


  				</tr>
  			</thead>
  			<tbody>
  				{% for item in data %}
  				<tr>
            <td> {{item['first_name']}}  </td>
            <td> {{item['last_name']}}  </td>
            <td> {{item['rating']}}  </td>
  					<td> {{item['sigma']}}  </td>
  					<td> {{item['trueskill']}}  </td>

  				</tr>
  				{% endfor %}
  			</tbody>
  		</table>

</div>
<br>

<div id="my-chart" style="width:80%"></div>
<script type="text/javascript">
  new Highcharts.Chart({{chart|safe}});
</script>


</body>




<script type="text/javascript">

$(document).ready( function () {
    $('#fine').DataTable({
      "paging":false,
      "info":false,
      "order":[[4, "desc"]]
    });
} );

</script>
</html>
{% endblock %}
