{% extends "layout.html" %}
{% block content %}
<html>
<head>


</head>

<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/plug-ins/1.10.13/integration/bootstrap/3/dataTables.bootstrap.css">

<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" language = "javascript" src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript"
        src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
        src="//cdn.datatables.net/plug-ins/1.10.13/integration/bootstrap/3/dataTables.bootstrap.js"></script>


<br>
<body>
{#<div class="span7 text-center">#}
{#    <form action="/recalculate" method="post">#}
{#      <button type="submit" class="btn btn-info">#}
{#        <span class="glyphicon glyphicon-random" aria-hidden="true">#}
{#        </span>#}
{#          Refresh Ratings#}
{#        </button>#}
{#    </form>#}
{#  </div>#}

<div class="row">
    <div id="my-chart" class="border col-md-7">
        {% if dist != None %}
            {{ dist | safe }}
        {% endif %}

    </div>
    <div class="border col-md-5">
        {% if matrix != None %}
            {{ matrix | safe }}
        {% endif %}
    </div>

  </div>
<br>

<p> Rating distributions are <a href="https://en.wikipedia.org/wiki/Normal_distribution">Gaussian</a> and centered on the Rating parameter &mu;. Their width is a function of your rating variance (&sigma;).
    You can reduce your variance by logging more games in the tracker, which causes your rating distribution chart to get skinnier. </p>
<p> Your TrueSkill, is a measure of your skill that is variance adjusted. The loss function that we use is -3&sigma;,
in order to offset this effect you need to play more games!</p>
<br>
<h4 align="center">Singles Ratings</h4>

<div>
    <table class='display compact' width="95%" id='fine' align='center'>

  			<thead>
  				<tr>
            <th> First </th>
            <th> Last </th>
  					<th> Rating (&mu;) </th>
  					<th> &sigma; </th>
  					<th> TrueSkill (&mu;-3&sigma;)</th>


  				</tr>
  			</thead>
  			<tbody>
  				{% for item in singles_ratings %}
  				<tr>
            <td> {{item['first_name']}}  </td>
            <td> {{item['last_name']}}  </td>
            <td> {{item['rating']}}  </td>
  					<td> {{item['sigma']}}  </td>
  					<td> {{item['trueskill']}}  </td>

  				</tr>
  				{% endfor %}
  			</tbody>
  		</table>

</div>
<br>
<br>
<h4 align="center">Individual Doubles Ratings</h4>

<div>
    <table class='display compact' width="95%" id='fine' align='center'>

  			<thead>
  				<tr>
            <th> First </th>
            <th> Last </th>
  					<th> Rating (&mu;) </th>
  					<th> &sigma; </th>
  					<th> TrueSkill (&mu;-3&sigma;)</th>


  				</tr>
  			</thead>
  			<tbody>
  				{% for item in doubles_ratings %}
  				<tr>
            <td> {{item['first_name']}}  </td>
            <td> {{item['last_name']}}  </td>
            <td> {{item['rating']}}  </td>
  					<td> {{item['sigma']}}  </td>
  					<td> {{item['trueskill']}}  </td>

  				</tr>
  				{% endfor %}
  			</tbody>
  		</table>

</div>
<br>
<h4 align="center">Team Doubles Ratings</h4>

<div>
    <table class='display compact' width="95%" id='fine' align='center'>

    <thead>
        <tr>
            <th> Player1</th>
            <th> Player2</th>
            <th> Rating (&mu;) </th>
            <th> &sigma; </th>
            <th> TrueSkill (&mu;-3&sigma;)</th>
        </tr>
    </thead>
        <tbody>
            {% for item in team_df %}
        <tr>
            <td> {{ item['player1'] }}  </td>
            <td> {{ item['player2'] }}  </td>
            <td> {{item['rating']}}  </td>
            <td> {{item['sigma']}}  </td>
            <td> {{item['trueskill']}}  </td>

        </tr>
            {% endfor %}
        </tbody>
  		</table>

</div>


</body>




<script type="text/javascript">

$(document).ready( function () {
    $('table.display').DataTable({
        "paging": false,
        "info": false,
        "filter": false,
        "aaSorting": [[4, "desc"]]
    });
})

</script>
</html>
{% endblock %}
